.logo-box {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.line {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  border-bottom: 8px solid #33cc33;
}
