.navbar-brand img {
  height: 60px;
  width: 160px;
}

.navbar li {
  display: inline-block;
}

.navbar:hover {
  cursor: pointer;
  opacity: 1;
  transition: 0.4s;
}

.navbar li:hover {
  /*border-top: 5px solid #33cc33;*/
  box-shadow: inset 0px 5px 0px #33cc33;
}

.font-custom {
  font-weight: bold;
  color: #5c5c5c;
}

.shadow-custom {
  --box-shadow-color: blue;
  box-shadow: 0px 0px 10px 0px rgb(192,192,192);
}

.translucent {
  opacity: 0.95;
}